{% load i18n %}
<div>
  <button class="review-button" aria-expanded="false" aria-controls="content-{{ index }}" data-iframe-src="{{ problem_url }}"><span class="review-button-icon" aria-hidden="true"></span>
    {% filter force_escape %}
      {% blocktrans %}
        Review Problem {{ index }}
      {% endblocktrans %}
    {% endfilter %}
  </button>
  <div id="content-{{ index }}" class="review-content" aria-labelledby="section-heading-{{ index }}">
    <!-- We explicitly check if it is True or False since correctness will be None if it
    is unable to be determined in review/get_review_ids.py. In that case, we do not want
    to show any text about the original attempt. -->
    {% if correctness == True %}
      <p>
        {% filter force_escape %}
          {% blocktrans %}
            When you originally tried this problem, you ended up being correct after {{ num_attempts }} attempts.
          {% endblocktrans %}
        {% endfilter %}
      </p>
    {% elif correctness == False %}
      <p>
        {% filter force_escape %}
          {% blocktrans %}
            When you originally tried this problem, you ended up being incorrect after {{ num_attempts }} attempts.
          {% endblocktrans %}
        {% endfilter %}
      </p>
    {% endif %}
    <iframe title="Review Problem {{ index }}" src="" width="100%" height="300" marginwidth="0" marginheight="0" frameborder="0">
      {% trans "Your browser does not support IFrames." as msg %}{{ msg | force_escape }}
    </iframe>
  </div>
</div>

